//Name: Alucard
//Author: clach04 (https://github.com/clach04)
@base24-color-base00: #FFFBEB;
@base24-color-base01: #CECCC0;
@base24-color-base02: #CFCFDE;
@base24-color-base03: #6C664B;
@base24-color-base04: #4C4A3D;
@base24-color-base05: #1F1F1F;
@base24-color-base06: #1F1F1F;
@base24-color-base07: #2C2B31;
@base24-color-base08: #CB3A2A;
@base24-color-base09: #A34D14;
@base24-color-base0A: #846E15;
@base24-color-base0B: #14710A;
@base24-color-base0C: #036A96;
@base24-color-base0D: #644AC9;
@base24-color-base0E: #A3144D;
@base24-color-base0F: #792219;
@base24-color-base10: #FDF8E2;
@base24-color-base11: #F5F0DA;
@base24-color-base12: #D74C3D;
@base24-color-base13: #9E841A;
@base24-color-base14: #198D0C;
@base24-color-base15: #047FB4;
@base24-color-base16: #7862D0;
@base24-color-base17: #BF185A;
