//Name: Dracula
//Author: clach04 (https://github.com/clach04)
@base24-color-base00: #282A36;
@base24-color-base01: #21222C;
@base24-color-base02: #44475A;
@base24-color-base03: #6272A4;
@base24-color-base04: #9EA8C7;
@base24-color-base05: #F8F8F2;
@base24-color-base06: #F8F8F2;
@base24-color-base07: #FFFFFF;
@base24-color-base08: #FF5555;
@base24-color-base09: #FFB86C;
@base24-color-base0A: #F1FA8C;
@base24-color-base0B: #50FA7B;
@base24-color-base0C: #8BE9FD;
@base24-color-base0D: #BD93F9;
@base24-color-base0E: #FF79C6;
@base24-color-base0F: #993333;
@base24-color-base10: #1E2029;
@base24-color-base11: #16171D;
@base24-color-base12: #FF6E6E;
@base24-color-base13: #FFFFA5;
@base24-color-base14: #69FF94;
@base24-color-base15: #A4FFFF;
@base24-color-base16: #D6ACFF;
@base24-color-base17: #FF92DF;
