@import "scheme";

// Grayscale
@black:           if(@base16-invertColors, @base16-color-base07, @base16-color-base00); //Default Background
@very-dark-gray:  if(@base16-invertColors, @base16-color-base06, @base16-color-base01); //Lighter Background (Used for status bars)
@dark-gray:       if(@base16-invertColors, @base16-color-base05, @base16-color-base02); //Selection Background
@gray:            if(@base16-invertColors, @base16-color-base04, @base16-color-base03); //Comments, Invisibles, Line Highlighting
@light-gray:      if(@base16-invertColors, @base16-color-base03, @base16-color-base04); //Dark Foreground (Used for status bars)
@very-light-gray: if(@base16-invertColors, @base16-color-base02, @base16-color-base05); //Default Foreground, Caret, Delimiters, Operators
@almost-white:    if(@base16-invertColors, @base16-color-base01, @base16-color-base06); //Light Foreground
@white:           if(@base16-invertColors, @base16-color-base00, @base16-color-base07); //The Lightest Foreground

// Colors
@red:             @base16-color-base08; //Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
@orange:          @base16-color-base09; //Integers, Boolean, Constants, XML Attributes, Markup Link Url
@yellow:          @base16-color-base0A; //Classes, Markup Bold, Search Text Background
@green:           @base16-color-base0B; //Strings, Inherited Class, Markup Code, Diff Inserted
@cyan:            @base16-color-base0C; //Support, Regular Expressions, Escape Characters, Markup Quotes
@blue:            @base16-color-base0D; //Functions, Methods, Attribute IDs, Headings
@purple:          @base16-color-base0E; //Keywords, Storage, Selector, Markup Italic, Diff Changed
@brown:           @base16-color-base0F; //Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
